* {
	margin: 0;
	padding: 0;
/*	font-family: sans-serif;
*/}

.t-thumb-header {
	margin-bottom: 50px;
}

.t-thumb-slash {
	margin: 5px;
}

.image_container {
	float: left;
    width: 175px;
    height: 175px;
    background: white;
    text-align: center;
    line-height: 200px;
    margin-right: 30px; 
    margin-bottom: 30px;
/*    border: 2px solid blue;
*/}

.image_container img {
    vertical-align: middle;
/*    border: 2px solid red;
*/}

img {
	max-width: 100%;
	max-height: 100%;
}

.t-thumb-col {
	display: block;
	width: 90%;
	margin: auto;
/*    border: 2px solid green;
*/}

img:hover {
	opacity: .9;
	transition: .3s;
}

img {
	opacity: 1;
	transition: .2s;
}

.t-thumb-header a:hover {
	color: rgba(0,0,0,.75);
	text-decoration: none;
	transition: .3s;
}

.t-thumb-header a {
	color: black;
	opacity: 1;
	transition: .2s;
}

.t-mobile-container {
	margin-top: 50px;
}

.t-mobile-container img {
/*	width: 90%;
	height: auto;*/
	margin-top: 0px;
	min-width: 400px;
}

.t-mobile-container p {
	padding: 0 0;
	height: auto;
	line-height: 0px;
	margin-top: 15px;
	margin-bottom: -20px;
}



 @media only screen and (max-width: 768px) {
    .image_container {
			float: left;
		    max-width: 90%;
		    height: auto;
		    background: white;
		    text-align: center;
		    line-height: 12vw;
		    margin-right: 4vw; 
		    margin-bottom: 4vw;

		}



/*PASTED FROM OTHER TEMPLATES CSS*/

/*		img:nth-of-type(1) {
			margin-top: 50px;
		}*/

		* {
		/*	font-family: monospace;
		*/	font-size: .95em;
			color: none;
			text-decoration: none;
		}

		p.t-title-etc {
			margin-bottom: 12.5%;
		}

		@media (max-width: 500px) {
		    p.t-title-etc {font-size: 2.5vw;}
		}

		/* ---------- Resume / CV all headings & paragraphs ---------- */

		div.t-cv-text {
			margin-top: 0em;
		}

		div.t-cv-text p {
			margin: 0 0 2.5em 1%;
			letter-spacing: 1px;
		}

		div.t-cv-text h5 {
			letter-spacing: 2px;
		}

		div.t-cv-text a:hover {
			opacity: .75;
		}

		@media (max-width: 500px) {
		    div.t-cv-text p {font-size: 2.5vw;}
		    div.t-cv-text h4 {font-size: 1em;}
		}

		@media (max-width: 500px) {
		    #t-links-section-text p {font-size: 3vw;}
		}

		@media (max-width: 768px) {
			div.t-cv-text p {white-space: normal;}
			div.t-cv-text {margin-top: 2em;
		}
		}


		/* ----------------------------------- START IMPORTED CSS FROM ARTPAGES for TITLE / LINKS HEADER ----------------------------------- */


		/* ---------- Drop Shadow for Header Box (Title, Links etc.) ---------- */

		.t-center {
		  text-align: left;
		  margin-left: none;
		}

		/* ---------- Drop Shadow for Header Box (Title, Links etc.) ---------- */

		/*.t-nav1-container {
		    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
		}*/


		/* ---------- Title Color, Letter Spacing, Size, Font etc. ---------- */

		#t-title-1 {
		    letter-spacing: 2px;
		    margin-top: 10px;
		    margin-bottom: 12px;
		    color: black;
		    font-size: none;
		    font-family: inherit;
		}

		#t-title-1:hover {
			opacity: .75;
		}

		#t-nav-links {
		  margin-bottom: 20px;
		  letter-spacing: 2px;
		  font-size: 1em;
		  color: black;
		}

		#t-nav-links a:hover {
		  opacity: .75;
		}

		.t-slash {
		  margin: 0px;
		}

		a {
		  color: black;
		  text-decoration: none;
		}

		a:hover, a:focus {
		  color: black;
		  text-decoration: none;
		}


		/* ----------------------------------- START IMPORTED CSS FROM ARTPAGES for MOBILE NAVBAR ----------------------------------- */


		.navbar {
		  position: relative;
		  min-height: 10px;
		  margin-bottom: 0px; /*CHANGED*/
		  border: none; /*CHANGED*/
		}

		.navbar-brand {
		  float: left;
		  height: 35px;
		  padding: 5px 10px; 
		  letter-spacing: 1px; /*CHANGED*/
		  font-size: 1.15em;
		/*  line-height: 20px;*/
		}

		.navbar-toggle {
		  position: relative;
		  float: right;
		  padding: 9px 10px;
		  margin-top: 1px;
		  margin-right: 5px;
		/*  margin-bottom: 8px;*/
		  background-color: transparent;
		  border: none; /*CHANGED*/
		  border-radius: 0px; /*CHANGED*/
		}

		.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		  background-color: rgba(0,0,0,0);
		}

		.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		  border-color: none; /*CHANGED*/
		}

		/* ---------- NAV BURGER COLOR / THICKNESS ---------- */

		.navbar-default .navbar-toggle .icon-bar {
		  background-color: white;
		  border-bottom: 1px solid black;
		}

		.navbar-default .navbar-brand {
		  color: black;
		}

		.navbar-default .navbar-brand:hover,
		.navbar-default .navbar-brand:focus {
		  color: rgba(0,0,0,.75);
		  background-color: transparent;
		}

		#t-navbar-hr {
		  padding: 0;
		  margin: 0;
		}

		#t-nav-link-mobile {
		  color: black;
		  letter-spacing: 1px;
		}

		#t-nav-link-mobile:hover {
			opacity: .75;
		}

		.navbar #t-navbar-white {
		  background-color: white;
		  padding-top: 4px;
		}

		.navbar-brand.container {
		  background-color: white;
		  margin-top: 3px;
		}

		/* ----- Border or Drop Shadow on Mobile Navbar ----- */

		.t-nav2-container {
			border-bottom: 1px solid rgba(0,0,0,.03);
		    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
		}

		.navbar-nav > li > a {
		    padding-top: 0px;
		    padding-bottom: 0px;
		    line-height: 3em;
		}

		.navbar-collapse {
		    padding-right: 15px;
		    padding-left: 5px;
		    margin-bottom: 7px;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		}

}

.t-mobile-thumbnail {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 90%;
	height: auto;
	max-width: none;
	max-height: none;
}

.t-mobile-thumbnail img {
	width: 100%;
	height: auto;
	max-width: none;
	max-height: none;
}

.t-mobile-thumbnail p {
	font-size: 2.5vw;
	text-align: center;
	line-height: 7.5vw;
}

.t-mobile-thumbnail img:hover {
	opacity: 1;
}

h5 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	font-size: 15px;
	letter-spacing: 2px;
}

p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0 0 2.5em 1%;
	letter-spacing: 1px;
	font-size: 12px;
}

#t-header-links {
	margin-left: 0;
	margin-bottom: 0;	
}
